Repository laska-sl/arcadia-parties, pull requests merged in 2020-02, with the labels that each got.

#27 Installed Swashbuckle and MediatR packages
  ArcadiaParties-SPA/angular.json
  ArcadiaParties.API/ArcadiaParties.API.csproj
  ArcadiaParties.API/Controllers/WeatherForecastController.cs
  ArcadiaParties.API/Properties/launchSettings.json
  ArcadiaParties.API/Startup.cs
  ArcadiaParties.API/WeatherForecast.cs
  ArcadiaParties.CQRS/ArcadiaParties.CQRS.csproj
  ArcadiaParties.CQRS/Temp.cs
  arcadia-parties.sln
Labels: API, initial

#28 Connect temp db to
  .gitignore
  ArcadiaParties.API/Data/DataContext.cs
  ArcadiaParties.API/Program.cs
  ArcadiaParties.API/Startup.cs
  ArcadiaParties.API/appsettings.json
Labels: API, initial

#34 Fix spaces
  ArcadiaParties-SPA/src/app/actions/actions.ts
  ArcadiaParties-SPA/src/app/app.component.ts
  ArcadiaParties-SPA/src/app/reducers/header-reducers.ts
  ArcadiaParties-SPA/src/app/reducers/reducers.ts
  ArcadiaParties-SPA/src/app/selector/selector.ts
Labels: SPA

#36 Create User models
  ArcadiaParties.API/ArcadiaParties.API.csproj
  ArcadiaParties.API/Program.cs
  ArcadiaParties.API/Startup.cs
  ArcadiaParties.Data/ArcadiaParties.Data.csproj
  ArcadiaParties.Data/Data/DataContext.cs
  ArcadiaParties.Data/Migrations/20200221133235_InitialMigration.Designer.cs
  ArcadiaParties.Data/Migrations/20200221133235_InitialMigration.cs
  ArcadiaParties.Data/Migrations/20200221145209_UserRoleMigration.Designer.cs
  ArcadiaParties.Data/Migrations/20200221145209_UserRoleMigration.cs
  ArcadiaParties.Data/Migrations/DataContextModelSnapshot.cs
  ArcadiaParties.Data/Models/Role.cs
  ArcadiaParties.Data/Models/User.cs
  ArcadiaParties.Data/Models/UserRole.cs
  arcadia-parties.sln
Labels: API, User

#40 Feature/angular material and main design
  ArcadiaParties-SPA/.editorconfig
  ArcadiaParties-SPA/angular.json
  ArcadiaParties-SPA/package-lock.json
  ArcadiaParties-SPA/package.json
  ArcadiaParties-SPA/src/app/app.component.css
  ArcadiaParties-SPA/src/app/app.component.html
  ArcadiaParties-SPA/src/app/app.component.scss
  ArcadiaParties-SPA/src/app/app.component.ts
  ArcadiaParties-SPA/src/app/app.module.ts
  ArcadiaParties-SPA/src/app/content/content.component.html
  ArcadiaParties-SPA/src/app/content/content.component.scss
  ArcadiaParties-SPA/src/app/content/content.component.ts
  ArcadiaParties-SPA/src/app/header/header.component.html
  ArcadiaParties-SPA/src/app/header/header.component.scss
  ArcadiaParties-SPA/src/app/header/header.component.ts
  ArcadiaParties-SPA/src/app/material/material.module.ts
  ArcadiaParties-SPA/src/index.html
  ArcadiaParties-SPA/src/styles.css
  ArcadiaParties-SPA/src/styles.scss
Labels: SPA

#42 Created routes
  ArcadiaParties-SPA/src/app/app.component.html
  ArcadiaParties-SPA/src/app/app.module.ts
  ArcadiaParties-SPA/src/app/routes.ts
Labels: Navigation, SPA, initial

#41 Fill database
  ArcadiaParties.API/ArcadiaParties.API.csproj
  ArcadiaParties.API/Program.cs
  ArcadiaParties.API/Startup.cs
  ArcadiaParties.CQRS/ArcadiaParties.CQRS.csproj
  ArcadiaParties.CQRS/Commands/SeedCommand.cs
  ArcadiaParties.CQRS/Handlers/SeedHandler.cs
  ArcadiaParties.Data/ArcadiaParties.Data.csproj
  ArcadiaParties.Data/Data/DataContext.cs
  ArcadiaParties.Data/Data/Depart.json
  ArcadiaParties.Data/Data/ISeed.cs
  ArcadiaParties.Data/Data/RoleSeed.json
  ArcadiaParties.Data/Data/Seed.cs
  ArcadiaParties.Data/Data/UserRole.json
  ArcadiaParties.Data/Data/UserSeed.json
  ArcadiaParties.Data/Migrations/20200221133235_InitialMigration.Designer.cs
  ArcadiaParties.Data/Migrations/20200221155010_DepartmentMigration.Designer.cs
  ArcadiaParties.Data/Migrations/20200221155010_DepartmentMigration.cs
  ArcadiaParties.Data/Migrations/20200222193729_GeneralMigration.Designer.cs
  ArcadiaParties.Data/Migrations/20200222193729_GeneralMigration.cs
  ArcadiaParties.Data/Migrations/DataContextModelSnapshot.cs
Labels: API, DB

#45 Add user info component
  ArcadiaParties-SPA/src/app/actions/actions.ts
  ArcadiaParties-SPA/src/app/app.component.html
  ArcadiaParties-SPA/src/app/app.component.ts
  ArcadiaParties-SPA/src/app/app.module.ts
  ArcadiaParties-SPA/src/app/content/content.component.html
  ArcadiaParties-SPA/src/app/content/content.component.ts
  ArcadiaParties-SPA/src/app/effects/effect.ts
  ArcadiaParties-SPA/src/app/header/header.component.html
  ArcadiaParties-SPA/src/app/header/header.component.ts
  ArcadiaParties-SPA/src/app/material/material.module.ts
  ArcadiaParties-SPA/src/app/reducers/header-reducers.ts
  ArcadiaParties-SPA/src/app/reducers/reducers.ts
  ArcadiaParties-SPA/src/app/reducers/title-reducers.ts
  ArcadiaParties-SPA/src/app/routes.ts
  ArcadiaParties-SPA/src/app/selector/selector.ts
  ArcadiaParties-SPA/src/app/services/title.service.ts
  ArcadiaParties-SPA/src/app/user/actions/actions.ts
  ArcadiaParties-SPA/src/app/user/models/User.ts
  ArcadiaParties-SPA/src/app/user/reducers/reducer.ts
  ArcadiaParties-SPA/src/app/user/routes.ts
  ArcadiaParties-SPA/src/app/user/selector/selector.ts
  ArcadiaParties-SPA/src/app/user/user-identity/user-identity.component.html
  ArcadiaParties-SPA/src/app/user/user-identity/user-identity.component.scss
  ArcadiaParties-SPA/src/app/user/user-identity/user-identity.component.ts
  ArcadiaParties-SPA/src/app/user/user-info/user-info.component.html
  ArcadiaParties-SPA/src/app/user/user-info/user-info.component.scss
  ArcadiaParties-SPA/src/app/user/user-info/user-info.component.ts
  ArcadiaParties-SPA/src/app/user/user.module.ts
  ArcadiaParties-SPA/src/index.html
  ArcadiaParties-SPA/src/styles.scss
Labels: SPA, User, component

#46 Feature/windows authentication
  ArcadiaParties.API/ArcadiaParties.API.csproj
  ArcadiaParties.API/Controllers/TestController.cs
  ArcadiaParties.API/CustomMiddlewares/DatabaseRolesMiddleware.cs
  ArcadiaParties.API/CustomMiddlewares/DatabaseRolesMiddlewareExtensions.cs
  ArcadiaParties.API/Properties/launchSettings.json
  ArcadiaParties.API/Startup.cs
  ArcadiaParties.CQRS/Handlers/GetUserRolesHandler.cs
  ArcadiaParties.CQRS/Queries/GetUserRolesQuery.cs
  ArcadiaParties.CQRS/Temp.cs
  ArcadiaParties.Data/Data/UserRole.json
  ArcadiaParties.Data/Data/UserSeed.json
Labels: API, controller

#47 user service with mock
  ArcadiaParties-SPA/src/app/content/content.component.ts
  ArcadiaParties-SPA/src/app/user/actions/actions.ts
  ArcadiaParties-SPA/src/app/user/effects/effect.ts
  ArcadiaParties-SPA/src/app/user/reducers/reducer.ts
  ArcadiaParties-SPA/src/app/user/services/user.service.ts
  ArcadiaParties-SPA/src/app/user/user-identity/user-identity.component.ts
  ArcadiaParties-SPA/src/app/user/user.module.ts
Labels: SPA, service

#43 Feature/user controller
  ArcadiaParties.API/ArcadiaParties.API.csproj
  ArcadiaParties.API/Controllers/TestController.cs
  ArcadiaParties.API/Controllers/UsersController.cs
  ArcadiaParties.API/CustomMiddlewares/DatabaseAuthorizationMiddleware.cs
  ArcadiaParties.API/CustomMiddlewares/DatabaseAuthorizationMiddlewareExtensions.cs
  ArcadiaParties.API/CustomMiddlewares/DatabaseRolesMiddlewareExtensions.cs
  ArcadiaParties.API/Startup.cs
  ArcadiaParties.CQRS/Handlers/GetAllUsersHandler.cs
  ArcadiaParties.CQRS/Handlers/GetCurrentUserHandler.cs
  ArcadiaParties.CQRS/Handlers/GetUserRolesHandler.cs
  ArcadiaParties.CQRS/Queries/GetAllUsersQuery.cs
  ArcadiaParties.CQRS/Queries/GetCurrentUserQuery.cs
  ArcadiaParties.CQRS/Queries/GetUserRolesQuery.cs
  ArcadiaParties.Data.Abstractions/ArcadiaParties.Data.Abstractions.csproj
  ArcadiaParties.Data.Abstractions/DTOs/UserDTO.cs
  ArcadiaParties.Data.Abstractions/Repositories/IUserRepository.cs
  ArcadiaParties.Data/ArcadiaParties.Data.csproj
  ArcadiaParties.Data/Data/UserRole.json
  ArcadiaParties.Data/Data/UserSeed.json
  ArcadiaParties.Data/Repositories/AutoMapperProfile.cs
  ArcadiaParties.Data/Repositories/UserRepository.cs
  arcadia-parties.sln
Labels: API, controller
