Repository laska-sl/arcadia-parties, pull requests merged in 2020-03, with the labels that each got.

#51 Feature/department component
  ArcadiaParties-SPA/src/app/app.component.html
  ArcadiaParties-SPA/src/app/app.module.ts
  ArcadiaParties-SPA/src/app/content/content.component.html
  ArcadiaParties-SPA/src/app/content/content.component.ts
  ArcadiaParties-SPA/src/app/department/actions/actions.ts
  ArcadiaParties-SPA/src/app/department/department-selector/department-selector.component.html
  ArcadiaParties-SPA/src/app/department/department-selector/department-selector.component.scss
  ArcadiaParties-SPA/src/app/department/department-selector/department-selector.component.ts
  ArcadiaParties-SPA/src/app/department/department.module.ts
  ArcadiaParties-SPA/src/app/department/models/department.ts
  ArcadiaParties-SPA/src/app/department/reducers/reducer.ts
  ArcadiaParties-SPA/src/app/department/selector/selector.ts
  ArcadiaParties-SPA/src/app/header/header.component.html
  ArcadiaParties-SPA/src/app/header/header.component.scss
  ArcadiaParties-SPA/src/app/material/material.module.ts
  ArcadiaParties-SPA/src/app/routes.ts
  ArcadiaParties-SPA/src/app/user/models/user.ts
  ArcadiaParties-SPA/src/app/user/services/user.service.ts
  ArcadiaParties-SPA/src/app/user/user-identity/user-identity.component.html
  ArcadiaParties-SPA/src/app/user/user-info/user-info.component.html
  ArcadiaParties-SPA/src/app/user/user.module.ts
  ArcadiaParties-SPA/src/styles.scss
Labels: Departments, SPA, component

#54 Calendar controller
  ArcadiaParties.API/Controllers/CalendarController.cs
  ArcadiaParties.CQRS/Handlers/DepartmentExistsHandler.cs
  ArcadiaParties.CQRS/Handlers/GetDatesOfDepartmentHandler.cs
  ArcadiaParties.CQRS/Queries/DepartmentExistsQuery.cs
  ArcadiaParties.CQRS/Queries/GetDatesOfDepartmentQuery.cs
  ArcadiaParties.Data.Abstractions/DTOs/CelebratingDateDTO.cs
  ArcadiaParties.Data.Abstractions/DTOs/UserForCalendarDTO.cs
  ArcadiaParties.Data.Abstractions/Repositories/IDepartmentRepository.cs
  ArcadiaParties.Data.Abstractions/Repositories/IUserRepository.cs
  ArcadiaParties.Data/Data/UserSeed.json
  ArcadiaParties.Data/Repositories/AutoMapperProfile.cs
  ArcadiaParties.Data/Repositories/DepartmentRepository.cs
  ArcadiaParties.Data/Repositories/UserRepository.cs
Labels: API, Calendar, controller

#55 Department service with mock
  ArcadiaParties-SPA/src/app/department/actions/actions.ts
  ArcadiaParties-SPA/src/app/department/department.module.ts
  ArcadiaParties-SPA/src/app/department/effects/effect.ts
  ArcadiaParties-SPA/src/app/department/reducers/reducer.ts
  ArcadiaParties-SPA/src/app/department/services/department.service.ts
Labels: Departments, SPA, service

#59 Swagger authorization
  ArcadiaParties.API/ArcadiaParties.API.csproj
  ArcadiaParties.API/Controllers/CalendarController.cs
  ArcadiaParties.API/Controllers/DepartmentsController.cs
  ArcadiaParties.API/Controllers/UsersController.cs
  ArcadiaParties.API/CustomMiddlewares/DatabaseAuthorizationMiddleware.cs
  ArcadiaParties.API/Properties/launchSettings.json
  ArcadiaParties.API/Startup.cs
Labels: API, token

#60 Feature/handle token in api
  ArcadiaParties.API/ArcadiaParties.API.csproj
  ArcadiaParties.API/OAuthSettings.cs
  ArcadiaParties.API/Startup.cs
  ArcadiaParties.Data/Data/UserRole.json
  ArcadiaParties.Data/Data/UserSeed.json
Labels: API, token

#61 Changed port and secrets
  ArcadiaParties.API/Properties/launchSettings.json
Labels: API, token

#62 Authentication in SPA
  ArcadiaParties-SPA/.gitignore
  ArcadiaParties-SPA/angular.json
  ArcadiaParties-SPA/package-lock.json
  ArcadiaParties-SPA/package.json
  ArcadiaParties-SPA/src/app/app-settings/app-settings.service.ts
  ArcadiaParties-SPA/src/app/app-settings/app-settings.ts
  ArcadiaParties-SPA/src/app/app.component.html
  ArcadiaParties-SPA/src/app/app.module.ts
  ArcadiaParties-SPA/src/app/header/header.component.html
  ArcadiaParties-SPA/src/app/header/header.component.ts
  ArcadiaParties-SPA/src/app/material/material.module.ts
  ArcadiaParties-SPA/src/app/services/auth.service.ts
  ArcadiaParties-SPA/src/app/services/token-interceptor.ts
  ArcadiaParties-SPA/src/app/user/user-identity/user-identity.component.html
  ArcadiaParties-SPA/src/app/user/user-identity/user-identity.component.scss
  ArcadiaParties-SPA/src/app/user/user-identity/user-identity.component.ts
  ArcadiaParties-SPA/tsconfig.json
  ArcadiaParties.API/Startup.cs
Labels: SPA, service, token

#63 User service integrate with API
  ArcadiaParties-SPA/src/app/user/effects/effect.ts
  ArcadiaParties-SPA/src/app/user/services/user.service.ts
  ArcadiaParties.API/CustomMiddlewares/DatabaseAuthorizationMiddleware.cs
  ArcadiaParties.Data.Abstractions/DTOs/CelebratingDateDTO.cs
  ArcadiaParties.Data.Abstractions/DTOs/UserDTO.cs
  ArcadiaParties.Data.Abstractions/DTOs/UserForCalendarDTO.cs
  ArcadiaParties.Data/Data/UserRole.json
  ArcadiaParties.Data/Data/UserSeed.json
  ArcadiaParties.Data/Repositories/AutoMapperProfile.cs
Labels: Integration, SPA, User, service

#64 Integrate department service with api
  ArcadiaParties-SPA/src/app/department/effects/effect.ts
  ArcadiaParties-SPA/src/app/department/services/department.service.ts
  ArcadiaParties-SPA/src/app/services/token-interceptor.ts
Labels: Departments, Integration, SPA, service
